html {
    background-color: #2f2f2f;
    color: #fff8e7;
    font-family: Arial, Helvetica, sans-serif;
}

#logo-title {
    font-family: 'Yeon Sung', cursive;
    font-size: 12rem;
    text-align: center;
    margin: 0;
}

#lobby {
    width: 50%;
    height: 90%;
    margin: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
}

#button-row {
    height: 100%;
    display: block;
    justify-content: space-around;
}

.lobby-button {
    display: inline-block;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.lobby-button:hover {
    filter:brightness(90%);
    cursor: pointer;
}

#room_id {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 35px;
    text-align: center;
}

.mine-button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.mine-button-unopened {
    background-color: gray;
}

.mine-button-row {
    display: flex;
    margin: 0px;
    padding: 0px;
}